{
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "^~/(.+)": "./\\1"
      }
    }],
    "@babel/plugin-syntax-jsx",
    "macros"
  ],
  "presets": [
    "@babel/preset-typescript"
  ]
}