@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: "PP Editorial New";
  font-weight: 400;
  src: url("/fonts/pp-editorial-new/PPEditorialNew-Regular.woff2")
      format("woff2"),
    url("/fonts/pp-editorial-new/PPEditorialNew-Regular.woff") format("woff");
}

@font-face {
  font-family: "PP Editorial New";
  font-weight: 700;
  src: url("/fonts/pp-editorial-new/PPEditorialNew-Bold.woff2") format("woff2"),
    url("/fonts/pp-editorial-new/PPEditorialNew-Bold.woff") format("woff");
}
