@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:wght@700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Karla', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

article {
  @apply w-full grid pb-20;
  grid-template-columns: 2rem 1fr 2rem;
}

article > * {
  grid-column: 2 / span 1;
  margin-bottom: 1em;
}

article > .full-width {
  grid-column: 1 / -1;
}

@screen md {
  article {
    grid-template-columns: 1fr 2rem 38rem 2rem 1fr;
  }

  article > * {
    grid-column: 3 / span 1;
  }

  article > .full-width {
    grid-column: 2 / -2;
  }
}

article > p {
  line-height: 1.6;
}

h1 {
  @apply text-4xl font-serif font-semibold text-center;
}

h2 {
  @apply text-2xl font-semibold mt-8 relative;
}

h2:before {
  @apply bg-green-500 absolute bottom-full left-0 w-6 mb-1;
  content: '';
  height: 3px;
}

h3 {
  @apply text-xl font-semibold mt-4;
}

ul,
ol {
  padding: 0 1.1em;
}

ul {
  list-style: initial;
}

ol {
  list-style: decimal;
}

code {
  @apply bg-gray-200 rounded-md p-1 text-sm;
}

.details > section > *:not(:last-child) {
  margin-bottom: 1em;
}

.details.note code {
  @apply bg-green-500;
}

.details {
  line-height: 1.6;
}

a {
  @apply font-semibold underline;
}
