@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400;1,600&family=Playfair+Display:wght@500;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

article {
  @apply grid w-full pb-20 text-gray-900;
  grid-template-columns: 2rem 1fr 2rem;
  line-height: 1.6;
}

article > * {
  grid-column: 2 / span 1;
  margin-bottom: 1.5em;
}

article > .full-width {
  grid-column: 1 / -1;
}

@screen md {
  :root {
    font-size: 18px;
  }

  article {
    grid-template-columns: 1fr 2rem min(65ch, calc(100% - 2rem)) 2rem 1fr;
  }

  article > * {
    grid-column: 3 / span 1;
  }

  article > .full-width {
    grid-column: 2 / -2;
  }
}

h2 {
  @apply relative mt-8 text-2xl font-semibold;
}

h2:before {
  @apply absolute left-0 w-6 mb-1 bg-green-500 bottom-full;
  content: '';
  height: 3px;
}

h3 {
  @apply mt-4 text-xl font-semibold;
}

ul,
ol {
  padding: 0 1.1em;
}

ul {
  list-style: initial;
}

ol {
  list-style: decimal;
}

code {
  @apply p-1 text-sm bg-gray-200 rounded-md;
}

.details > section > *:not(:last-child) {
  margin-bottom: 1em;
}

.details.note code {
  @apply bg-green-500;
}

.details {
  line-height: 1.6;
}

a {
  @apply font-semibold underline;
}
